In [16]:
pip install kafka-python

Requirement already satisfied: kafka-python in /opt/anaconda3/lib/python3.12/site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [18]:
import pandas as pd
from kafka import KafkaProducer
from time import sleep
from json import dumps
import json

In [32]:
producer = KafkaProducer(bootstrap_servers=['3.144.81.74:9092'], 
                         value_serializer=lambda x: 
                         dumps(x).encode('utf-8'))

In [38]:
producer.send('demo_kafka', value={'name':'yamini'})

In [42]:
df = pd.read_csv("/Users/yaminichiguru/Desktop/learning/kafka/indexProcessed.csv")

In [44]:
df.head()

,Index,Date,Open,High,Low,Close,Adj Close,Volume,CloseUSD
0,HSI,1986-12-31,2568.300049,2568.300049,2568.300049,2568.300049,2568.300049,0.0,333.879006
1,HSI,1987-01-02,2540.100098,2540.100098,2540.100098,2540.100098,2540.100098,0.0,330.213013
2,HSI,1987-01-05,2552.399902,2552.399902,2552.399902,2552.399902,2552.399902,0.0,331.811987
3,HSI,1987-01-06,2583.899902,2583.899902,2583.899902,2583.899902,2583.899902,0.0,335.906987
4,HSI,1987-01-07,2607.100098,2607.100098,2607.100098,2607.100098,2607.100098,0.0,338.923013

In [46]:
while True:
    dict_stock = df.sample(1).to_dict(orient="records")[0]
    producer.send('demo_kafka', value=dict_stock)
    sleep(1)

KeyboardInterrupt: